* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

body {
    background-color: #fff;
    overflow-x: hidden;
    width: 100vw;
}

@media screen and (min-width: 481px) {

    header {
        text-align: center;
    }

    header img {
        width: 30vw;
    }

    /*tabの形状*/
    .tab {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        width: 70vw;
    }

    .tab li {
        box-sizing: border-box;
        width: calc(100%/7);
        border: solid 1px #1c1818;
    }

    .tab li a {
        display: block;
        background: #ddd;
        margin: 0 2px;
        padding: 10px 20px;
        color: #333;
        text-decoration: none;
    }

    /*liにactiveクラスがついた時の形状*/
    .tab li.active a {
        background: #1c1818;
        color: #fff;
    }

    /*エリアの表示非表示と形状*/
    .area {
        display: none;
        /*はじめは非表示*/
        opacity: 0;
        /*透過0*/
        background: #1c1818;
        width: 70vw;
        margin: 0 auto;
    }

    /*areaにis-activeというクラスがついた時の形状*/
    .area.is-active {
        display: block;
        /*表示*/
        animation-name: displayAnime;
        /*ふわっと表示させるためのアニメーション*/
        animation-duration: 2s;
        animation-fill-mode: forwards;
    }

    @keyframes displayAnime {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }




    .maintbl {
        border: 1px solid rgb(255, 255, 255);
        margin: 0 auto;
        overflow-x: hidden;

    }

    .maintbl th {
        color: #1c1818;
        font-size: 3vw;
        width: 5vw;
        border-right: 1px solid rgb(255, 255, 255);
    }

    .maintbl td {
        padding: .2vw;
    }

    .void {
        background-color: purple;
        display: block;
    }

    .itemArea table {
        height: 40vh;
        text-align: center;
        width: 50vw;
        margin: 0 auto;
    }

    .itemArea th {
        color: #fff;
    }

    .itemArea td {
        color: #fff;

    }

    h2 {
        color: white;
    }

    .itemImg {
        width: 100%;
    }

    .modal-open img {
        width: 5vw;
    }

    /*infoエリアをはじめは非表示*/
    .info {
        display: none;
    }

    /*モーダルの横幅を変更したい場合*/
    .modaal-container {
        max-width: 60vw;
        max-height: 50vh;
        background-color: #1c1818;
    }

    /*モーダルのボタンの色を変更したい場合*/
    .modaal-close:after,
    .modaal-close:before {
        background: #ccc;
    }

    .modaal-close:focus:after,
    .modaal-close:focus:before,
    .modaal-close:hover:after,
    .modaal-close:hover:before {
        background: #666;
    }
}












@media screen and (max-width: 480px) {

    header {
        text-align: center;
        width: 100vw;
        overflow-x: hidden;
    }

    header img {
        width: 50vw;
    }

    /*tabの形状*/
    .tab {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        width: 100vw;
    }

    .tab li {
        box-sizing: border-box;
        width: calc(100%/4);
        height: 10vw;
        border: solid 1px #1c1818;
    }

    .tab li a {
        height: 100%;
        font-size: 3vw;
        display: block;
        background: #ddd;
        line-height: 10vw;
        margin: 0 2px;
        color: #333;
        text-decoration: none;
    }

    /*liにactiveクラスがついた時の形状*/
    .tab li.active a {
        background: #1c1818;
        color: #fff;
    }

    /*エリアの表示非表示と形状*/
    .area {
        display: none;
        /*はじめは非表示*/
        opacity: 0;
        /*透過0*/
        background: #1c1818;
        width: 100vw;
        margin: 0 auto;
    }

    /*areaにis-activeというクラスがついた時の形状*/
    .area.is-active {
        display: block;
        /*表示*/
        animation-name: displayAnime;
        /*ふわっと表示させるためのアニメーション*/
        animation-duration: 2s;
        animation-fill-mode: forwards;
    }

    @keyframes displayAnime {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }




    .maintbl {
        border: 1px solid rgb(255, 255, 255);
        margin: 0 auto;
        overflow-x: hidden;
        width: 100vw;


    }

    .maintbl th {
        color: #1c1818;
        font-size: 3vw;
        width: 5vw;
        border-right: 1px solid rgb(255, 255, 255);
    }

    .maintbl td {
        padding: .2vw;
    }

    .void {
        background-color: purple;
        display: block;
    }

    .itemArea table {
        height: 40vh;
        text-align: center;
        width: 50vw;
        margin: 0 auto;
    }

    .itemArea th {
        color: #fff;
    }

    .itemArea td {
        color: #fff;

    }

    h2 {
        color: white;
    }

    .itemImg {
        width: 100%;
    }

    .modal-open img {
        width: 7vw;
    }

    /*infoエリアをはじめは非表示*/
    .info {
        display: none;
    }

    /*モーダルの横幅を変更したい場合*/
    .modaal-container {
        max-width: 60vw;
        max-height: 50vh;
        background-color: #1c1818;
    }

    /*モーダルのボタンの色を変更したい場合*/
    .modaal-close:after,
    .modaal-close:before {
        background: #ccc;
    }

    .modaal-close:focus:after,
    .modaal-close:focus:before,
    .modaal-close:hover:after,
    .modaal-close:hover:before {
        background: #666;
    }
}